.board-title {
    text-align: center;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

.board {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bio-pic {
    width: 320px;
    height: 425px;
    border-radius: 10px;
    align-items: center; 
    justify-content: center;
}

.bio{ 
    width: 300px;
    margin-bottom: .5rem;
}

.bio-cont{
    display: none;
}

.read-more-btn {
    padding: 5px 15px;
    width: 120px;
    font-size: 16px;
    border-radius: 24px;
    background: lightgreen;
    color: #000000;
    border: none;
    cursor: pointer;
    margin-bottom: 1.5rem;
}

.bio.show-more .bio-cont {
    display: inline;
}

.bio-text{ 
    width: 290px;
    align-items: center; 
    justify-content: center;
    margin-bottom: .5rem;
}

.bio1-cont{
    display: none;
}

.read-more-btn1 {
    padding: 5px 15px;
    width: 120px;
    font-size: 16px;
    border-radius: 24px;
    background: lightgreen;
    color: #000000;
    border: none;
    cursor: pointer;
    margin-bottom: 1.5rem;
}

.bio1.show-more1 .bio1-cont {
    display: inline;
}

.bio2-cont{
    display: none;
}

.read-more-btn2 {
    padding: 5px 15px;
    width: 120px;
    font-size: 16px;
    border-radius: 24px;
    background: lightgreen;
    color: #000000;
    border: none;
    cursor: pointer;
    margin-bottom: 1.5rem;
}

.bio2.show-more2 .bio2-cont {
    display: inline;
}

.bio3-cont{
    display: none;
}

.read-more-btn3 {
    padding: 5px 15px;
    width: 120px;
    font-size: 16px;
    border-radius: 24px;
    background: lightgreen;
    color: #000000;
    border: none;
    cursor: pointer;
    margin-bottom: 1.5rem;
}

.bio3.show-more3 .bio3-cont {
    display: inline;
}


.bio4-cont{
    display: none;
}

.read-more-btn4 {
    padding: 5px 15px;
    width: 120px;
    font-size: 16px;
    border-radius: 24px;
    background: lightgreen;
    color: #000000;
    border: none;
    cursor: pointer;
    margin-bottom: 1.5rem;
}

.bio4.show-more4 .bio4-cont {
    display: inline;
}

.bio5-cont{
    display: none;
}

.read-more-btn5 {
    padding: 5px 15px;
    width: 120px;
    font-size: 16px;
    border-radius: 24px;
    background: lightgreen;
    color: #000000;
    border: none;
    cursor: pointer;
    margin-bottom: 1.5rem;
}

.bio5.show-more5 .bio5-cont {
    display: inline;
}