html, body {
    margin: 0px;
    padding: 0px;
}

/* Start header CSS */

header {
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: #8EB0B5;
    color: #FFFFFF;
}

.title-company-name {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin: 0px;
}

.hamburger-icon {
    margin-top: 5px;
    cursor: pointer;
    -webkit-filter: invert(100%);
    filter: invert(100);
}

.hamburger-sidemenu {
    position: fixed;
    right: -170px;
    top: 70px;
    height: 440px;
    width: 170px;
    flex-direction: column;
    display: flex;
    background-color: #8EB0B5;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px 0px 0px 10px;
    border-left: 1px solid white;
    border-bottom: 1px solid white;

    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.hamburger-sidemenu > a {
    font-family: 'Montserrat', sans-serif;
    height: 72px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.256);
    text-decoration: none;
    font-size: 20px;
    color: white;
    border: 1px solid white;
}

.border-remove-top {
    border-radius: 10px 0px 0px 0px;
}

.border-remove-bottom {
    border-radius: 0px 0px 0px 10px;
}

.hamburger-sidemenu.active {
    animation-name: slide-in;
}

/* Hamburger side menu animation */

@keyframes slide-in {
    0% {
      right: -170px;
    }
    100% {
      right: 0;
    }
}

/* End Header CSS */

/* Start main CSS */

.marble-background {
    background: url(images/marble-background.jpg);
    background-size: cover;
}

.header-intro-container {
    display: flex;
    background-color: #A9DBE2;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.header-intro-text-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header-intro-text-container > h1 {
    margin: 0px;
    font-family: Oswald, sans-serif;
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 0.18em;
    color: #333333;
}

.header-intro-text-container > p {
    font-family: Lato;
    font-weight: 400;
    font-size: 20px;
    margin: 0px;
}

.header-call-text-container {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px
}

.header-call-text-container > p {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.1em;
}

.mission-text-container {
    padding: 0px 10px;
    border-radius: 10px;
    margin: 0px auto;
    max-width: 1040px;
    min-width: 290px;
    background-color: rgba(255, 255, 255, 0.500);
}

.mission-toptext {
    margin-bottom: 12px;
}

.mission-text {
    border-radius: 10px;
    text-align: center;
    font-family: 'Open sans', sans-serif;
    font-weight: 400;
    line-height: 1.1;
    font-size: 16px;
}

.banner {
    padding: 0px 10px;
    display: flex;
    background: url(images/butterfly-background.jpg);
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;

    /* background-position: bottom 100px left;
       FOR LARGER SCREENS
    */

    align-items: center;
    height: 350px;
}

.event-feed{
    display:flex;
    flex-direction: column;
    margin: .25rem;
    margin-bottom: 0;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
}  

.event-box{
    padding-top: 1.75rem;
    background: #9B7CAD;
    width: 300px;
    height: 250px;
    text-align: center;
    color: #FFFFFF;
    line-height: 2;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    border-radius: 10px;
    margin-bottom: 40px;
}

.social-buttons-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    gap: 40px;
    padding: 0px 10px;
}

.face-btn {
    background: #4267B2;
    color: white;
    border: solid #000000 2px;
    font-size: 30px;
    padding: .8rem 3.0rem;
    border-radius: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.insta-btn {
    background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);;
    color: white;
    border: solid #000000 2px;
    font-size: 30px;
    padding: .8rem 2.5rem;
    border-radius: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.what-we-offer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1em;
}

.what-we-offer-container > h2 {
    font-size: 22px;
    max-width: 700px;
    text-align: center;
    padding: 0px 10px;
}

.what-we-offer-list{
    font-family: 'Open Sans', sans-serif;
    max-width: 600px;
}

.what-we-offer-list > li {
    font-weight: 400;
    margin-bottom: 20px;
}

.donations{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.donate-img{
    width: 300px;
    border-radius: 10px;
}

.donate-btn {
    background: #FFC82F;
    color: white;
    border: solid #000000 2px;
    margin: 2rem;
    font-size: 30px;
    padding: .8rem 3.6rem;
    border-radius: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 6rem;
    cursor: pointer;
}

footer {
    background-color: #8EB0B5;
}

.footer {
    margin: 0px auto;
    max-width: 800px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px
}

.footer > p {
    font-size: 10px;
    color: white;
    text-align: center;
    margin: 0px;
}

/*           */
/*           */
/* About CSS */
/*           */
/*           */

.board-title {
    text-align: center;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

.board {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bio-pic {
    width: 320px;
    height: 425px;
    border-radius: 10px;
    align-items: center; 
    justify-content: center;
}

.bio{ 
    width: 300px;
    margin-bottom: .5rem;
}

.bio-cont{
    display: none;
}

.read-more-btn {
    padding: 5px 15px;
    width: 120px;
    font-size: 16px;
    border-radius: 24px;
    background: lightgreen;
    color: #000000;
    border: none;
    cursor: pointer;
    margin-bottom: 1.5rem;
}

.bio.show-more .bio-cont {
    display: inline;
}

.bio-text{ 
    width: 290px;
    align-items: center; 
    justify-content: center;
    margin-bottom: .5rem;
}

.bio1-cont{
    display: none;
}

.read-more-btn1 {
    padding: 5px 15px;
    width: 120px;
    font-size: 16px;
    border-radius: 24px;
    background: lightgreen;
    color: #000000;
    border: none;
    cursor: pointer;
    margin-bottom: 1.5rem;
}

.bio1.show-more1 .bio1-cont {
    display: inline;
}

.bio2-cont{
    display: none;
}

.read-more-btn2 {
    padding: 5px 15px;
    width: 120px;
    font-size: 16px;
    border-radius: 24px;
    background: lightgreen;
    color: #000000;
    border: none;
    cursor: pointer;
    margin-bottom: 1.5rem;
}

.bio2.show-more2 .bio2-cont {
    display: inline;
}

.bio3-cont{
    display: none;
}

.read-more-btn3 {
    padding: 5px 15px;
    width: 120px;
    font-size: 16px;
    border-radius: 24px;
    background: lightgreen;
    color: #000000;
    border: none;
    cursor: pointer;
    margin-bottom: 1.5rem;
}

.bio3.show-more3 .bio3-cont {
    display: inline;
}


.bio4-cont{
    display: none;
}

.read-more-btn4 {
    padding: 5px 15px;
    width: 120px;
    font-size: 16px;
    border-radius: 24px;
    background: lightgreen;
    color: #000000;
    border: none;
    cursor: pointer;
    margin-bottom: 1.5rem;
}

.bio4.show-more4 .bio4-cont {
    display: inline;
}

.bio5-cont{
    display: none;
}

.read-more-btn5 {
    padding: 5px 15px;
    width: 120px;
    font-size: 16px;
    border-radius: 24px;
    background: lightgreen;
    color: #000000;
    border: none;
    cursor: pointer;
    margin-bottom: 1.5rem;
}

.bio5.show-more5 .bio5-cont {
    display: inline;
}

.offered-services {
    display:flex;
    flex-direction: column;
    margin: 1rem;
    margin-bottom: 0;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    background: #A9DBE2;
    border-radius: 10px;
}

.service {
    text-align: center;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    padding: .5em .5em;
}

.sem-pics {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 10px;
}

.sem-pic {
    margin: 0 auto;
    height: 100%;
    width: 300px;
}

.events {
    display: flex;
    margin: 0 auto;
    padding: 2em;
    font-size: 2.5em;
    flex-direction: column;
    align-items: center;
}

/* Notes
    header should be a bit smaller at 700 snap.
    scale should be around 950px.
    (or just have snap at 950)
*/

@media only screen and (max-width: 700px) {
    .header-intro-container{
        display: none;
    }

    .navbar {
        display: none;
    }
} 

@media only screen and (min-width: 700px) {
    .hamburger{
        display: none;
    }

    .navbar {
        width: 100%;
        height: 127px; 
        display: flex;
        /* justify-content: space-between; */
        gap: 4rem;
        color: #FFFFFF;
    }

    .title-company-name {
        margin-right: 3rem;
        font-size: 1.5rem;
        width: 400px; 
    }


    .select {
        font-size: 1.3em;
        font-weight: 700;
        text-decoration: none;
        /* box-shadow: 0px 24px 3px -24px black; */
        cursor: pointer;
        margin-top: 3.4rem; 
        margin-right: 10px;
        color: #FFFFFF;
    }

    .select:hover, .select:focus {
        color: purple;
    }
} 
