html, body {
    margin: 0px;
    padding: 0px;
}

/* Start header CSS */

.navbar {
    height: 70px;
    background-color: #8EB0B5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

.navbar > a {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.256);
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.hamburger-navbar {
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: #8EB0B5;
    color: #FFFFFF;
}

.hamburger-navbar > h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin: 0px;
}

.hamburger-icon {
    margin-top: 5px;
    cursor: pointer;
    -webkit-filter: invert(100%);
    filter: invert(100);
}

.hamburger-sidemenu {
    position: fixed;
    right: -170px;
    top: 70px;
    height: 440px;
    width: 170px;
    flex-direction: column;
    display: flex;
    background-color: #8EB0B5;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px 0px 0px 10px;
    border-left: 1px solid white;
    border-bottom: 1px solid white;

    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.hamburger-sidemenu > a {
    font-family: 'Montserrat', sans-serif;
    height: 72px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.256);
    text-decoration: none;
    font-size: 20px;
    color: white;
    border: 1px solid white;
}

.active-page-color {
    color: #404040;
}

.border-remove-top {
    border-radius: 10px 0px 0px 0px;
}

.border-remove-bottom {
    border-radius: 0px 0px 0px 10px;
}

.hamburger-sidemenu.active {
    animation-name: slide-in;
}

/* Hamburger side menu animation */

@keyframes slide-in {
    0% {
      right: -170px;
    }
    100% {
      right: 0;
    }
}

/* End Header CSS */

/* Start main CSS */

.marble-background {
    background: url(images/marble-background.jpg);
    background-size: cover;
}

.header-intro-container {
    display: flex;
    background-color: #A9DBE2;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.header-intro-text-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header-intro-text-container > h1 {
    margin: 0px;
    margin-top: 10px;
    font-family: Oswald, sans-serif;
    font-weight: 700;
    letter-spacing: 0.18em;
    color: #333333;
    font-size: 24px;
}

.header-intro-text-container > p {
    font-family: Lato;
    font-weight: 400;
    font-size: 20px;
    margin: 0px;
}

.header-call-text-container {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px
}

.header-call-text-container > p {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.1em;
}

.mission-text-container {
    padding: 0px 10px;
    border-radius: 10px;
    margin: 0px auto;
    max-width: 1040px;
    min-width: 290px;
    background-color: rgba(255, 255, 255, 0.500);
}

.mission-toptext {
    margin-bottom: 12px;
}

.mission-text {
    border-radius: 10px;
    text-align: center;
    font-family: 'Open sans', sans-serif;
    font-weight: 400;
    line-height: 1.1;
    font-size: 16px;
}

.banner {
    padding: 0px 10px;
    display: flex;
    background: url(images/butterfly-background-4000px.jpg);
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;

    /* background-position: bottom 100px left;
       FOR LARGER SCREENS
    */

    align-items: center;
    height: 350px;
}

.event-feed{
    display:flex;
    flex-direction: column;
    margin: .25rem;
    margin-bottom: 0;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
}  

.event-box{
    padding-top: 1.75rem;
    background: #9B7CAD;
    width: 300px;
    height: 250px;
    text-align: center;
    color: #FFFFFF;
    line-height: 2;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    border-radius: 10px;
    margin-bottom: 40px;
}

.social-buttons-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    gap: 40px;
    padding: 0px 10px;
}

.face-btn {
    background: #4267B2;
    color: white;
    border: solid #000000 2px;
    font-size: 30px;
    padding: .8rem 3.0rem;
    border-radius: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.insta-btn {
    background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);;
    color: white;
    border: solid #000000 2px;
    font-size: 30px;
    padding: .8rem 2.5rem;
    border-radius: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.what-we-offer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1em;
}

.what-we-offer-container > h2 {
    font-size: 22px;
    max-width: 700px;
    text-align: center;
    padding: 0px 10px;
}

.what-we-offer-list{
    font-family: 'Open Sans', sans-serif;
    max-width: 600px;
}

.what-we-offer-list > li {
    font-weight: 400;
    margin-bottom: 20px;
}

.donations {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.donate-img{
    width: 300px;
    border-radius: 10px;
}

.donate-btn {
    background: #FFC82F;
    color: white;
    border: solid #000000 2px;
    margin: 2rem;
    font-size: 30px;
    padding: .8rem 3.6rem;
    border-radius: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 6rem;
    cursor: pointer;
}

footer {
    background-color: #8EB0B5;
}

.footer {
    margin: 0px auto;
    max-width: 800px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px
}

.footer > p {
    font-size: 12px;
    color: white;
    text-align: center;
    margin: 0px;
}

/* Notes
    header should be a bit smaller at 700 snap.
    scale should be around 950px.
    (or just have snap at 950)
*/

@media (max-width: 768px) {
    .header-intro-container{
        display: none;
    }
}

@media (min-width: 769px) {
    .hamburger-navbar {
        display: none;
    }

    .footer > p {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .navbar {
        display: none;
    }
}